/*--------------------------------- G E N E R A L --------------------------------*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F9F9F9;


}



/*
mørkegrøn: #00242A bagggrund: #F6F6F6
*/
.pink {
    color: #FF4677;
    font-family: 'Finger Paint';
}

.blue {
    color: #17BAD1;
    font-family: 'Finger Paint';
}

.green {
    color: #83C52B;
    font-family: 'Finger Paint';
}

.yellow {
    color: #FFCB00;
    font-family: 'Finger Paint';
}

/*
google fonte:
font-family: 'Roboto',
sans-serif;
font-family: 'Finger Paint',
cursive;
font-family: 'Open Sans',
sans-serif;
*/



h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2rem;
    color: #404040;
    margin-top: 0;

}

h2 {
    font-family: 'Roboto';
    font-weight: 500;
    color: #404040;
}

h3 {
    font-family: 'Roboto';
    font-weight: 500;
    color: #404040;
}


p {
    font-family: 'Open Sans';
    color: #404040;
    line-height: 25px;
}

/*Hoejre del er dobbelt so stor som venstre (1-2)*/
.container12 {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    display: grid;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-gap: 5vw;
}


/*Venstre del er dobbelt so stor som hoejre (2-1)*/
.container21 {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    display: grid;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-gap: 5vw;
}

/*giver top og buttom margin på section*/
.whitespace {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

/*------------------------------ B U R G E R M E N U -----------------------------*/

a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

.current {
    font-weight: bolder;
    color: #FF4677;
}

a:hover {
    color: #FF4677;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;

    z-index: 5;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 6;
    /* and place it over the hamburger */

}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;


    /*    background: #ffffff;*/
    background: #17BAD1;
    border-radius: 3px;

    z-index: 5;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    /*    background: #232323;*/
    background: #17BAD1;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 200px;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 200px;
    right: -50px;

    background: #ffffff;
    list-style-type: none;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    box-shadow: -6px 0px 14px -7px rgba(0, 0, 0, 0.17);

}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    font-family: 'Roboto';
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}


/*---------------------------------- S P L A S H --------------------------------*/

.splash_logo {
    background-image: url(foto/logo-farve-hvid.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 420px;
    height: 280px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30vh;

}

/*
.mouse-scroll {
    background-image: url(foto/scrollblue-faster.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 60px;
        top: 620px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
*/

.arrowdown {
    background-image: url(foto/go-down2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 25px;
    /*    top: 620px;*/
    bottom: 50px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-7px);
    }
}

.splash_background {
    background-image: url(foto/splash-billede.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;

}



.splash_background_lille {
    background-image: url(foto/splash-billede_lille.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    display: none;

}

/*--------------------------------- L I L L E    L O G O  ------------------------*/

.lille_logo {
    background-image: url(foto/logo-farve-blå.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 200px;
    height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

/*------------------------------ I N T R O D U K T I O N  -----------------------*/
#introduktion {
    position: relative;
    overflow: hidden;
}

#introduktion h1 {
    margin-top: 0px;
}

.brush-stroke-yellow {
    background-image: url(brushstrokes/pink6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 100px;
    left: -40vw;
    z-index: 1;
}

.brush-stroke-yellow2 {
    background-image: url(brushstrokes/yellow3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 100px;
    right: -170px;
    z-index: 1;
}


.text {
    /*    align-self: center;*/
    z-index: 2;
}

.klode_gif {
    background-image: url(foto/globe_2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
    justify-self: center;
}

/*----------------------------------- H J E R N E N -----------------------------*/

#hjernen {
    background-color: #00242A;
    /*    overflow: hidden;*/
}

#hjernen h1 {
    color: white;
    text-align: center;
}

#hjernen h4 {
    font-weight: bold;
}

/*
.p-center {
    color: white;
    width: 500px;
    text-align: center;
}
*/

.hjernentekst {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;

}

.hjernentekst p {
    color: white;
}

.container {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.lg-container {
    max-width: 700px;
    position: relative;
    margin: 1rem;
    padding: 0;
}

.lg-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}


.lg-hotspot {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 0;

    &.visible {
        display: block;
      }
}

.lg-hotspot:hover .lg-hotspot__button,
.lg-hotspot:active .lg-hotspot__button {
    /*    border-color: #FF4677;*/
    border-color: #00242A;
}

.lg-hotspot:hover .lg-hotspot__button:after,
.lg-hotspot:active .lg-hotspot__button:after {
    background-color: #FF4677;
}

.blaafarve:hover .lg-hotspot__button:after,
.blaafarve:active .lg-hotspot__button:after {
    background-color: #17BAD1;
}

.lg-hotspot--selected {
    z-index: 999;
}

.lg-hotspot--selected .lg-hotspot__label {
    opacity: 1;
}

.lg-hotspot__button {
    height: 28px;
    width: 28px;
    padding: 0px;
    border-radius: 100%;
    border: 1px solid #00242A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    animation: button-pulse 2s ease-in-out infinite;
}

.lg-hotspot__button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    content: "";
    display: block;
    height: 16.8px;
    width: 16.8px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: #00242A;
    /*    background-color: #17BAD1;*/

    transition: border-color 1s linear;
}

.lg-hotspot__label {
    position: absolute;
    padding: 0 0 1.1em 0;
    width: 16em;
    max-width: 50vw;
    background-color: #F2F2F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", sans-serif;
    font-size: 14.5px;
    line-height: 1.45em;
    z-index: -1;
    pointer-events: none;
    border-radius: 2px;
    user-select: none;
    opacity: 0;
    transition: all 0.1s linear;
}

.lg-hotspot__label h4 {
    margin: 0;
    padding: 0.65em 24px;
    background-color: #FF4677;
    font-size: 1.1em;
    font-weight: 3;
    letter-spacing: 0.02em;
    color: white;
    border-radius: 2px 2px 0 0;
}

.lg-hotspot__label p {
    margin: 0;
    padding: 1.1em 24px 0 24px;
    color: #333;
}

.lg-hotspot--top-left .lg-hotspot__label {
    top: 24px;
    left: 24px;
}

.lg-hotspot--top-right .lg-hotspot__label {
    top: 24px;
    right: 24px;
}

.lg-hotspot--bottom-right .lg-hotspot__label {
    right: 24px;
    bottom: 24px;
}

.lg-hotspot--bottom-left .lg-hotspot__label {
    bottom: 24px;
    left: 24px;
}

@keyframes button-pulse {
    0% {
        transform: scale(0.9, 0.9);
        opacity: 1;
    }

    40% {
        transform: scale(1.2, 1.2);
        opacity: 1;
    }

    100% {
        transform: scale(0.9, 0.9);
        opacity: 1;
    }
}

/*----------------------------------- T E G N E V I D E O     F O R S I D E -----------------------------*/
#tegnevideo {
    width: 70vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/*----------------------------------- Q U O T E -----------------------------*/

#quote {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#quote1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#quote h2 {
    font-size: 2rem;
    text-align: center;
}


#quote1 h2 {
    font-size: 2rem;
    text-align: center;
}

.brush-stroke3 {
    background-image: url(brushstrokes/pink3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 0px;
    left: -40vw;
    z-index: -1;

}




/*------------------------------ E K S P E R T V I D E O  -----------------------*/
#ekspert_video {
    overflow: hidden;
}

#ekspert_video h2 {
    margin-top: 0px;
}

#ekspert_video video:last-child {
    margin-top: 5vh;
}

.ekspert_text {
    position: relative;
    z-index: 1;

}

#ekspert_video3 {
    overflow: hidden;
}

#ekspert_video3 h1 {
    margin-top: 0px;
}

#ekspert_video3:hover {
    color: #ce2854;
}

.ekspert_text a {
    color: #FF4677;
    text-decoration: underline;

}

.ekspert_text a:hover {
    color: #FFCB00;
    text-decoration: underline;

}


.brush-stroke2 {
    background-image: url(brushstrokes/blue1.png);
    transform: scaleX(-1);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 200px;
    right: -400px;
    z-index: -1;

}

/*
.ekspert_tekst {
    grid-area: tekst;
}
*/

/*------------------------------ Q U I Z   M Y T E R -----------------------*/

.hide {
    display: none;
}

#submit {
    display: inline-block;
    background-image: url(foto/startquiz-hvid.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
    width: 200px;
    height: 100px;
    margin: 20px 0 auto;
    align-self: flex-end;
}


#myter {
    background-color: #00242A;
    width: auto;
}

#myter p {
    color: #F6F6F6;
}

#myter h1 {
    color: #F6F6F6;
}

#quiz-container {
    background-color: #17BAD1;
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;
    border-radius: 20px;
}

#quiz-container p {
    /*    color: #00242A;*/
    color: #ffffff;
}

#startbillede {
    background-image: url(foto/myte1.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;

}

.firstbillede {
    background-image: url(foto/myte2.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

.secondbillede {
    background-image: url(foto/myte3.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

.thirdbillede {
    background-image: url(foto/myte4.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

.forthbillede {
    background-image: url(foto/myte5.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

.fifthbillede {
    background-image: url(foto/myte6.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

.sixthbillede {
    background-image: url(foto/myte7.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

.resultatbillede {
    background-image: url(foto/myte8.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

#true1,
#true2,
#true3,
#true4,
#true5,
#true6 {
    display: inline-block;
    background-image: url(foto/sandt-hvid.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
    width: 170px;
    height: 100px;
}

#false1,
#false2,
#false3,
#false4,
#false5,
#false6 {
    display: inline-block;
    background-image: url(foto/falsk-hvid.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
    width: 170px;
    height: 100px;

}

#nextQuestionTrue,
#nextQuestionFalse,
#nextQuestionTrue2,
#nextQuestionFalse2,
#nextQuestionTrue3,
#nextQuestionFalse3,
#nextQuestionTrue4,
#nextQuestionFalse4,
#nextQuestionTrue5,
#nextQuestionFalse5,
#nextQuestionTrue6,
#nextQuestionFalse6 {
    background-image: url(foto/naeste-hvid.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
    width: 170px;
    height: 100px;
    margin: 0 auto;
}

#tryAgain {
    background-image: url(foto/provigen-hvid.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
    width: 200px;
    height: 120px;
    justify-self: center;
    margin: 0 auto;
}

/*------------ANIMATIONER TIL QUIZ--------------*/

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}


.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.show {
    animation-name: show_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes show_kf {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/*---------------------------------- D O G M E R -------------------------------*/





.brush-stroke-pink1 {
    background-image: url(brushstrokes/pink2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 200px;
    right: -18vw;
    z-index: -1;

}


/*---------------------------------- I M A G E   S L I D E R -------------------------------*/

.slide_foto {
    height: 350px;
    margin: 1vw auto;
    max-height: 750px;
    max-width: 1000px;
    overflow: hidden;
    width: 600px;
}

.slide_foto figure {
    background-image: url(foto/slider-moon-picture2.jpg);
    background-size: cover;
    font-size: 0;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}

#compare {
    background-image: url(foto/DJI_0020.JPG);
    background-size: cover;
    bottom: 0;
    border-right: 5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 10px 0 15px -13px #000;
    height: 100%;
    max-width: 98.6%;
    min-width: 0.6%;
    overflow: visible;
    position: absolute;
    width: 50%;
    animation: first 2s 1 normal ease-in-out 0.1s;
    -webkit-animation: first 2s 1 normal ease-in-out 0.1s;
}

input#slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    cursor: col-resize;
    height: 100vw;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    top: -100vw;
    width: 100%;
}

input#slider::-moz-range-track {
    background: transparent;
}

input#slider::-ms-track {
    border: none;
    background-color: transparent;
    height: 100vw;
    left: 0;
    outline: none;
    position: relative;
    top: -100vw;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: col-resize;
    color: transparent;
}

input#slider::-ms-fill-lower {
    background-color: transparent;
}

input#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
}

input#slider::-moz-range-thumb {
    -moz-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
}

input#slider::-ms-thumb {
    height: 100vw;
    width: 0.5%;
    opacity: 0;
}

input#slider::-ms-tooltip {
    display: none;
}

#compare::before {
    background: url(foto/compare.png) no-repeat scroll 0 center transparent;
    background-size: contain;
    content: " ";
    float: right;
    height: 100%;
    margin-right: -34px;
    position: relative;
    top: 0;
    width: 64px;
}

@keyframes first {
    0% {
        width: 0%;
    }

    50% {
        width: 80%;
    }

    100% {
        width: 50%;
    }
}

@-webkit-keyframes first {
    0% {
        width: 0%;
    }

    50% {
        width: 80%;
    }

    100% {
        width: 50%;
    }
}

/*---------------------------------- K A M P A G N E    V I D E O  -------------------------------*/

#kampagne_video {
    background-color: #00242A;


}

#kampagne_video video:last-child {
    margin-top: 5vh;
}

#kampagne_video p {
    color: white;
}

#kampagne_video h2 {
    color: white;
    margin-top: 0px;
}


/*------------------------------ I V Æ R K S Æ T T E R E     Q U O T E S   ---------------------------*/
#ivaerksaetter img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#dogmer img {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.brush-stroke-pink1 {
    background-image: url(brushstrokes/pink2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 200px;
    right: -18vw;
    z-index: -1;

}

#ivaerksaetter,
#dogmer {
    grid-template-columns: 1fr;
    column-gap: 0px;
    display: grid;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    overflow: hidden;
}

#ivaerksaetter,
#dogmer p {
    text-align: center;
}

#ivaerksaetter,
#dogmer h3 {
    text-align: center;
}

#ivaerksaetter,
#dogmer h2 {
    text-align: center;
}

.ivaerksaetter_intro,
.dogmer_intro {
    width: 500px;
    justify-self: center;
}

    {
    width: 500px;
    justify-self: center;
}

.ivaerksaetter1 {
    width: 500px;
    justify-self: start;
}

.ivaerksaetter2 {
    width: 500px;
    justify-self: end;
}

.bold {
    font-weight: bolder;
}



.brush-stroke-9 {
    background-image: url(brushstrokes/yellow2.png);
    transform: scaleX(-1);
    transform: rotate(-20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 350px;
    right: -150px;
    z-index: 2;

}

.brush-stroke-8 {
    background-image: url(brushstrokes/pink3.png);
    transform: rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 750px;
    left: -150px;
    z-index: 2;

}

.brush-stroke-7 {
    background-image: url(brushstrokes/green5.png);
    transform: scaleX(-1);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1200px;
    right: -120px;
    z-index: 2;

}

.brush-stroke-6 {
    background-image: url(brushstrokes/blue4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1700px;
    left: -120px;
    z-index: 2;

}

.brush-stroke-5 {
    background-image: url(brushstrokes/pink6.png);
    transform: scaleX(-1);
    transform: rotate(30deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2200px;
    right: -120px;
    z-index: 2;
}



.brush-stroke-100 {
    background-image: url(brushstrokes/pink6.png);
    transform: scaleX(-1);
    transform: rotate(30deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2200px;
    right: -120px;
    z-index: 2;


}

.brush-stroke-101 {
    background-image: url(brushstrokes/yellow3.png);
    transform: scaleX(-1);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2500px;
    left: -120px;
    z-index: 2;
}

.brush-stroke-91 {
    background-image: url(brushstrokes/yellow2.png);
    transform: scaleX(-1);
    transform: rotate(-20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 200px;
    right: -150px;
    z-index: 2;

}

.brush-stroke-81 {
    background-image: url(brushstrokes/blue5.png);
    transform: rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 500px;
    left: -150px;
    z-index: 2;

}

.brush-stroke-71 {
    background-image: url(brushstrokes/green5.png);
    transform: scaleX(-1);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 900px;
    right: -120px;
    z-index: 2;

}

.brush-stroke-61 {
    background-image: url(brushstrokes/pink3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1300px;
    left: -120px;
    z-index: 2;

}

.brush-stroke-51 {
    background-image: url(brushstrokes/yellow4.png);
    transform: scaleX(-1) rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1600px;
    right: -140px;
    z-index: 2;
}


.brush-stroke-41 {
    background-image: url(brushstrokes/blue1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2000px;
    left: -120px;
    z-index: 2;

}


/*------------------------------ T I D S L I N J E   ---------------------------*/

.brush-stroke22 {
    background-image: url(brushstrokes/blue1.png);
    transform: scaleX(-1);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    top: -50px;
    right: -360px;
    z-index: -1;

}


#ekspert_video2 {
    overflow: hidden;

}

#ekspert_video2 h1 {
    margin-top: 0px;
}

.ekspert_videoer2 {
    align-self: center;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


#tidslinje {
    font-family: 'Roboto';
    display: grid;
    overflow: hidden;
    position: relative;
}

.tidslinje_intro {
    max-width: 500px;
    justify-self: center;
    text-align: center;
    margin-top: 2vw;
}

.timeline {
    overflow: hidden;
}


.timeline img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#tidslinje p {
    margin: 0px;
    padding: 10px;

}



.brush-stroke-11 {
    background-image: url(brushstrokes/pink2.png);
    transform: rotate(30deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 300px;
    left: -150px;
    z-index: 1;

}


.brush-stroke-12 {
    background-image: url(brushstrokes/green1.png);
    transform: rotate(-10deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1100px;
    left: -150px;
    z-index: 1;
}

.brush-stroke-13 {
    background-image: url(brushstrokes/yellow5.png);
    transform: scaleX(-1) rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 700px;
    right: -150px;
    z-index: 1;
}

.brush-stroke-14 {
    background-image: url(brushstrokes/blue5.png);
    transform: scaleX(-1) rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1450px;
    right: -150px;
    z-index: 1;
}

.brush-stroke-15 {
    background-image: url(brushstrokes/yellow5.png);
    transform: rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1800px;
    left: -150px;
    z-index: 1;
}

.brush-stroke-16 {
    background-image: url(brushstrokes/pink6.png);
    transform: rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2300px;
    right: -150px;
    z-index: 1;
}

.brush-stroke-17 {
    background-image: url(brushstrokes/blue4.png);
    transform: rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2900px;
    left: -150px;
    z-index: 1;
}



.viewwidth {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    /*    position: relative;*/
}

/* INTRO SECTION
––––––––––––––––––––––––––––––––––––––––––––––––– */


#tidslinje .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}




/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.timeline ul {
    /*    background: #456990;*/
    /*    padding: 50px 0;*/


}

.timeline ul p {
    color: white;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    /*    padding-top: 50px;*/
    background: #404040;
    z-index: 2;



}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    /*    padding: 15px;*/
    background: #17BAD1;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #17BAD1 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #17BAD1;
}

.time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 0;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    padding: 0px;
}

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #17BAD1;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-150px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
    border-radius: 10px;
}


/* TIMELINE GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #17BAD1 transparent transparent;
    }
}


/*--------------------------- K R E A T I V   Q U I Z  -------------------------------*/

#startSpil {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.introBillede {
    background-image: url(foto/quizzivaerk.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
}

#playButton {
    display: inline-block;
    background-image: url(foto/startquiz-hvid.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
    width: 200px;
    height: 100px;
    justify-self: center;
}

.kreativ_text {
    display: grid;

}

.fade-out {
    -webkit-animation: fade-out 0.5s ease-out both;
    animation: fade-out 0.5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-22 12:8:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




/* .kreativ_text .playButton  {
  justify-self: center;
    
    } */


#kreativquiz {
    background-color: #00242A;
    width: auto;
}

#kreativquiz p {
    color: #F6F6F6;
}

#kreativquiz h2 {
    color: #F6F6F6;
}

#kreativquiz h3 {
    color: #F6F6F6;
}

/*#kreativquiz {*/
padding-bottom: 20px;
}

.wrapper {
    width: 430px;
    margin: 0 auto;
    height: 100%;
}

#quiz {
    background-color: #17BAD1;

    padding-bottom: 20px;
    width: 100%;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    /*    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
}



#quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}


.questions {
    font-size: 1.3rem;
    font-weight: 700;
    /*    font-style: italic;*/
    /*    border-top: 1px solid #FFFFFF;*/
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
    font-family: 'Roboto';
}



.answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
}

.answers div:hover {
    cursor: pointer;
    color: #FFCB00;
}

.answers {
    padding: 0px 0 10px 0px;
    font-family: 'Roboto';
    padding-left: 10px;
    padding-right: 10px;
}

.answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 1px solid #ffffff;
}

.answers div:first-child {
    border: none;
}

.checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
    font-family: 'Roboto';
}

.correct,
.false {
    background-color: #83C52B;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}

.correct {
    font-family: 'Roboto';
}

.false {
    font-family: 'Roboto';
}

.false {
    background-color: #FF4677;
}





/*---------------------------------- B E V Æ G E L S E N    B A G  -------------------------------*/

#bevaegelsen {
    display: grid;
    position: relative;
    overflow: hidden;

}

.intro_tekst {
    overflow: hidden;
    z-index: 1;
}


.brush-stroke-b1 {
    background-image: url(brushstrokes/yellow5.png);
    transform: scaleX(-1) rotate(20deg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 400px;
    right: -150px;
    z-index: -1;
}

#bloom {
    background-color: #00242A;
    display: grid;
}

.bloom-logo {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bloom-laesmere {
    margin-top: 40px;
    height: 80px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bloom video:last-child {
    margin-top: 5vh;
}

.bloom_video {
    display: grid;
}

.bloom_video video {
    justify-self: end;
}


.bloom_video {
    /*    justify-items: end;*/
}

#bloom h2 {
    color: white;
}

#bloom p {
    color: white;
}

#bevaegelsen h1 {
    margin-top: 0px;
}

.flower_picture {
    background-image: url(foto/malte1.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 400px;
    height: 550px;
    z-index: 2;
}




/*---------------------------------- I N S T A G R A M -------------------------------*/

.intro_insta {
    width: 500px;
    text-align: center;
    display: block;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-self: center;

}

/*
.bg-primary-2 {
    background-color: #3779B3;
}

.bg-secondary-2 {
    background: #cbdbe8;
}

.text-underline {
    text-decoration: underline;
}
*/
/*
.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.text-small {
    font-size: 0.8em;
}
*/

/*
.flex-grow-1 {
    flex-grow: 1;
}
*/
/*
#btn-top {
    position: fixed;
    z-index: 999;
    bottom: 1em;
    top: auto;
    left: auto;
    right: 1em;
    margin-left: -1.9rem;
    opacity: .66;
    display: none;
}
*/

.instagram_feed {
    overflow: hidden;
    margin-left: 10vw;
    margin-right: 10vw;
}

#instagram {
    display: grid;
}

/*
#jsonHere {
    max-height: 60vh;
    overflow: auto;
}*/


/*---------------------------------- L Æ S   M ER E -------------------------------*/

.laesmere-bund {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 450px;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.laesmere-bund h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.laesmere-knap {
margin-top: 10px;
    width: 130px;
    height: 75px;
}

.laesmere-bund a {
    justify-self: center;
}

/*---------------------------------- F O O T E R -------------------------------*/
.hashtagget {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.tester {
    margin-top: 300px;
    margin-bottom: 300px;

}



footer {
    position: relative;
    /*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
*/
    width: 100%;
    height: auto;
    overflow: hidden;

}

.footer-web {
    background-image: url(foto/footer-web.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 25vw;
    position: relative;
    display: grid;
    /*    grid-template-columns: 1fr;*/
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    overflow: hidden;
}

.footer-tablet {
    background-image: url(foto/footer-tablet.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 33.3vw;
    position: relative;
    display: none;
    /*    grid-template-columns: 1fr;*/
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    overflow: hidden;
}

.footer-mobile {
    background-image: url(foto/footer-mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 71vw;
    position: relative;
    display: none;
    /*    grid-template-columns: 1fr;*/
    grid-template-rows: 1f 1fr 2fr 1fr 1fr;
    overflow: hidden;

}

.footer-micro-mobile {
    background-image: url(foto/footer-micro.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: relative;
    display: none;
    /*    grid-template-columns: 1fr;*/
    grid-template-rows: 1f 1fr 2fr 1fr 1fr;
    overflow: hidden;
}

.fylde {
    width: 10px;
}

.fylde2 {
    height: 60px;
}

.footer-tekst {

    justify-self: center;
    align-self: center;




}

footer p {
    color: white;
    margin-top: 0;
    width: 400px;
    text-align: center;
}


footer h2 {
    color: white;
    margin-top: 0;
    width: 400px;
    text-align: center;
}


.logoer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    ;
    justify-self: center;
    align-self: end;

}

.logoer img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

iframe {
    border: 0px;
}

.some_logoer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40vw;
    margin-right: 40vw;
    justify-self: center;
}

.some_logoer img {
    width: 50px;
    height: 50px;
}



/*------------------------------ M E D I A Q U E R I E S ------------------------*/

@media screen and (max-width: 2000px) {
    .splash_logo {
        margin-top: 30vh;

    }
}

@media screen and (min-width: 2000px) {
    .slide_foto {
        height: 500px;
        width: 800px;
    }

}

@media screen and (max-width: 1400px) {
    /*
    .mouse-scroll {
        top: 520px;
    }
*/

    .brush-stroke-pink1 {
        background-image: url(brushstrokes/pink2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 400px;
        height: 200px;
        top: 450px;
        right: -25vw;
        z-index: -1;

    }




}

@media screen and (max-width: 1300px) {
    .slide_foto {
        height: 300px;
        width: 500px;
    }

    .brush-stroke-b1 {
        width: 400px;
        height: 250px;
        top: 390px;
        right: -270px;
        z-index: -1;
    }
}

@media screen and (max-width: 1000px) {

    /*Hoejre del er dobbelt so stor som venstre (1-2)*/
    .container12 {
        grid-template-columns: 1fr;
    }


    .brush-stroke-pink1 {
        display: none;

    }

    .brush-stroke-100 {
        display: none;

    }


    .splash_background {
        display: none;

    }

    .splash_background_lille {
        display: block;

    }



    #tegnevideo {
        width: 80vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;

    }


    .brush-stroke-100 {
        display: none;

    }


    .splash_logo {
        width: 200px;
        height: 150px;
    }

    .klode_gif {
        width: 180px;
        height: 280px;

    }

    /*Venstre del er dobbelt so stor som hoejre (2-1)*/
    .container21 {
        grid-template-columns: 1fr;
    }

    video {
        width: 100%;
        height: 100%;
    }

    #quote {
        width: auto;

        padding-left: 10vw;
        padding-right: 10vw;

    }

    #quote h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #quote1 {
        width: auto;

        padding-left: 10vw;
        padding-right: 10vw;

    }

    #quote1 h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #ivaerksaetter,
    #dogmer {
        padding-right: 10vw;
        grid-gap: 10vh;
    }



    #ekspert_video div:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 0;
    }

    #ekspert_video div:nth-child(2) {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    #ekspert_video2 div:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 0;
    }

    #ekspert_video2 div:nth-child(2) {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    #ekspert_video3 div:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 0;
    }

    #ekspert_video3 div:nth-child(2) {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    #kampagne_video div:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 0;
    }

    #kampagne_video div:nth-child(2) {
        grid-column: 1;
        grid-row: 1 / 2;
    }


    #bevaegelsen div:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 0;
    }

    #bevaegelsen div:nth-child(2) {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    .tidslinje_intro {
        width: auto;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .flower_picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bloom_video {
        display: block;
    }

    .bloom_video video {
        justify-self: center;
    }





    .brush-stroke22 {
        display: none;

    }

    .brush-stroke3 {
        top: 0px;
        left: -250px;
    }


    .brush-stroke-yellow2 {
        display: none;
    }

    .footer-tablet {
        display: grid;
    }

    .footer-web {
        display: none;
    }

    footer p {
        color: white;
        margin-top: 0;
        width: 250px;
        text-align: center;
        /*        font-size: 0.7rem;*/
    }


    footer h2 {
        color: white;
        margin-top: 0;
        width: 250px;
        text-align: center;
        font-size: 1rem;
    }

    .brush-stroke-9 {
        width: 400px;
        height: 250px;
        top: 300px;
        right: -150px;
        z-index: -1;

    }

    .brush-stroke-8 {
        width: 400px;
        height: 250px;
        top: 850px;
        left: -150px;
        z-index: -1;

    }

    .brush-stroke-7 {
        width: 400px;
        height: 250px;
        top: 1350px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-6 {
        width: 400px;
        height: 250px;
        top: 1950px;
        left: -120px;
        z-index: -1;

    }

    .brush-stroke-5 {
        width: 400px;
        height: 250px;
        top: 2500px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-91 {
        width: 400px;
        height: 250px;
        top: 300px;
        right: -150px;
        z-index: -1;

    }

    .brush-stroke-81 {
        width: 400px;
        height: 250px;
        top: 700px;
        left: -150px;
        z-index: -1;

    }

    .brush-stroke-71 {
        width: 400px;
        height: 250px;
        top: 1200px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-61 {
        width: 400px;
        height: 250px;
        top: 1600px;
        left: -120px;
        z-index: -1;

    }

    .brush-stroke-51 {
        width: 400px;
        height: 250px;
        top: 2200px;
        right: -140px;
        z-index: -1;
    }


    .brush-stroke-41 {
        width: 400px;
        height: 250px;
        top: 2700px;
        left: -120px;
        z-index: -1;

    }









}

@media screen and (max-width: 800px) {


    .brush-stroke-11 {
        top: 350px;
        left: -180px;

    }

    .brush-stroke-pink1 {
        display: none;

    }

    .intro_insta {
        width: 300px;
        text-align: center;
        display: block;
        margin-left: 10vw;
        margin-right: 10vw;
        justify-self: center;

    }

    .hjernentekst {
        grid-template-columns: 1fr;

    }




}

@media screen and (max-width: 650px) {
    .timeline ul li {
        padding-top: 50px;

    }

    .laesmere-bund {
        width: 250px;
    }

    .introBillede {
        width: 300px;
        height: 300px;
    }



    .footer-tablet {
        display: none;
    }

    .footer-web {
        display: none;
    }

    .footer-mobile {
        display: grid;
        /*        overflow: hidden;*/
    }

    .footer-indhold {
        position: absolute;
    }

    footer p {
        width: 200px;
    }


    footer h2 {
        width: 200px;
    }

    .some {
        margin-left: 0;
        margin-right: 0;
    }

    .logoer img {
        width: 70px;
        height: 70px;
        margin: 0 auto;

    }


    .lg-hotspot__button:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        content: "";
        display: block;
        height: 16.8px;
        width: 16.8px;
        border-radius: 100%;
        border: 3px solid white;
        background-color: #00242A;
        transition: border-color 1s linear;
    }

    .lg-hotspot__label {
        position: absolute;
        padding: 0 0 1.1em 0;
        width: 14em;
        max-width: 50vw;
        background-color: #F2F2F2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        line-height: 13px;
        z-index: -1;
        pointer-events: none;
        border-radius: 2px;
        user-select: none;
        opacity: 0;
        transition: all 0.1s linear;
    }

    .lg-hotspot__label h4 {
        margin: 0;
        padding: 0.65em 24px;
        background-color: #FF4677;
        font-size: 1.2em;
        font-weight: 3;
        letter-spacing: 0em;
        color: white;
        border-radius: 2px 2px 0 0;
    }

    .lg-hotspot__label p {
        margin: 0;
        padding: 0em 5px 0 5px;
        line-height: 1.2rem;
        color: #333;
    }

    .lg-hotspot--top-left .lg-hotspot__label {
        top: 24px;
        left: 4px;
    }

    .lg-hotspot--top-right .lg-hotspot__label {
        top: 24px;
        right: 4px;
    }

    .lg-hotspot--bottom-right .lg-hotspot__label {
        right: 24px;
        bottom: 4px;
    }

    .lg-hotspot--bottom-left .lg-hotspot__label {
        bottom: 24px;
        left: 4px;
    }

    .brush-stroke-91 {
        width: 400px;
        height: 250px;
        top: 200px;
        right: -240px;
        z-index: -1;

    }

    .brush-stroke-81 {
        width: 400px;
        height: 250px;
        top: 600px;
        left: -240px;
        z-index: -1;

    }

    .brush-stroke-71 {
        width: 400px;
        height: 250px;
        top: 1000px;
        right: -240px;
        z-index: -1;

    }

    .brush-stroke-61 {
        width: 400px;
        height: 250px;
        top: 1500px;
        left: -240px;
        z-index: -1;

    }

    .brush-stroke-51 {
        width: 400px;
        height: 250px;
        top: 2050px;
        right: -200px;
        z-index: -1;
    }


    .brush-stroke-41 {
        width: 400px;
        height: 250px;
        top: 2500px;
        left: -240px;
        z-index: -1;

    }






}

@media screen and (max-width: 550px) {

    .slide_foto {
        /*        height: 250px;*/
        margin: 0px;
        overflow: hidden;
        width: 100%;
    }



    .flower_picture {
        background-image: url(foto/malte1.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 250px;
        height: 400px;
    }

    .brush-stroke {
        width: 300px;
        height: 150px;
        top: -10px;
        left: -70px;
    }

    .brush-stroke-b1 {
        width: 400px;
        height: 250px;
        top: 600px;
        right: -230px;
        z-index: -1;
    }

    #ivaerksaetter,
    #dogmer {
        padding-right: 0vw;
        padding-left: 0vw;
        grid-gap: 10vh;
    }



    .ivaerksaetter_intro,
    .dogmer_intro {
        width: auto;
        padding-left: 10vw;
        padding-right: 10vw;
    }



    .ivaerksaetter1 {
        width: auto;
        padding-left: 10vw;
        padding-right: 10vw;
        justify-self: center;
    }

    .ivaerksaetter2 {
        width: auto;
        padding-left: 10vw;
        padding-right: 10vw;
        justify-self: center;
    }

    .whitespace {
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    #startbillede,
    .firstbillede,
    .secondbillede,
    .thirdbillede,
    .forthbillede,
    .resultatbillede {
        width: 100%;
        height: 200px;
    }

    .brush-stroke3 {
        top: 0px;
        left: -280px;

    }

    .brush-stroke-yellow {
        top: 150px;
        left: -70vw;
        z-index: -1;
    }

    /*
    .brush-stroke-9 {
        width: 400px;
        height: 250px;
        top: 300px;
        right: -150px;
        z-index: -1;

    }

    .brush-stroke-8 {
        width: 400px;
        height: 250px;
        top: 850px;
        left: -150px;
        z-index: -1;

    }

    .brush-stroke-7 {
        width: 400px;
        height: 250px;
        top: 1450px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-6 {
        width: 400px;
        height: 250px;
        top: 2000px;
        left: -120px;
        z-index: -1;

    }

    .brush-stroke-5 {
        width: 400px;
        height: 250px;
        top: 2550px;
        right: -120px;
        z-index: -1;

    }
*/

}


@media screen and (max-width: 450px) {
    footer p {
        width: 150px;
    }

    .introBillede {
        width: 250px;
        height: 250px;
    }


    footer h2 {
        width: 150px;
    }

    .footer-mobile {
        display: none;
    }

    .footer-micro-mobile {
        display: grid;
    }

    .brush-stroke-yellow {
        top: 120px;
        left: -80vw;
        z-index: -1;
    }

    .brush-stroke3 {
        top: 0px;
        left: -320px;

    }

    .brush-stroke-9 {
        width: 400px;
        height: 250px;
        top: 320px;
        right: -150px;
        z-index: -1;

    }

    .brush-stroke-8 {
        width: 400px;
        height: 250px;
        top: 950px;
        left: -150px;
        z-index: -1;

    }

    .brush-stroke-7 {
        width: 400px;
        height: 250px;
        top: 1600px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-6 {
        width: 400px;
        height: 250px;
        top: 2260px;
        left: -120px;
        z-index: -1;

    }

    .brush-stroke-5 {
        width: 400px;
        height: 250px;
        top: 2940px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-91 {
        width: 400px;
        height: 250px;
        top: 290px;
        right: -300px;
        z-index: -1;

    }

    .brush-stroke-81 {
        width: 400px;
        height: 250px;
        top: 600px;
        left: -280px;
        z-index: -1;

    }

    .brush-stroke-71 {
        width: 400px;
        height: 250px;
        top: 1100px;
        right: -270px;
        z-index: -1;

    }

    .brush-stroke-61 {
        width: 400px;
        height: 250px;
        top: 1600px;
        left: -290px;
        z-index: -1;

    }

    .brush-stroke-51 {
        width: 400px;
        height: 250px;
        top: 2200px;
        right: -260px;
        z-index: -1;
    }


    .brush-stroke-41 {
        width: 400px;
        height: 250px;
        top: 2710px;
        left: -300px;
        z-index: -1;

    }



    .intro_insta {
        width: 250px;

    }


}



@media screen and (max-width: 350px) {
    .introBillede {
        width: 200px;
        height: 200px;
    }


    .brush-stroke-b1 {
        width: 400px;
        height: 250px;
        top: 700px;
        right: -300px;
        z-index: -1;
    }

    .brush-stroke-yellow {
        top: 120px;
        left: -95vw;
        z-index: -1;
    }

    .brush-stroke-9 {
        width: 400px;
        height: 250px;
        top: 320px;
        right: -150px;
        z-index: -1;

    }

    .brush-stroke-8 {
        width: 400px;
        height: 250px;
        top: 1000px;
        left: -150px;
        z-index: -1;

    }

    .brush-stroke-7 {
        width: 400px;
        height: 250px;
        top: 1650px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-6 {
        width: 400px;
        height: 250px;
        top: 2330px;
        left: -120px;
        z-index: -1;

    }

    .brush-stroke-5 {
        width: 400px;
        height: 250px;
        top: 3080px;
        right: -120px;
        z-index: -1;

    }

    .brush-stroke-91 {
        width: 400px;
        height: 250px;
        top: 320px;
        right: -330px;
        z-index: -1;

    }

    .brush-stroke-81 {
        width: 400px;
        height: 250px;
        top: 650px;
        left: -290px;
        z-index: -1;

    }

    .brush-stroke-71 {
        width: 400px;
        height: 250px;
        top: 1150px;
        right: -290px;
        z-index: -1;

    }

    .brush-stroke-61 {
        width: 400px;
        height: 250px;
        top: 1700px;
        left: -310px;
        z-index: -1;

    }

    .brush-stroke-51 {
        width: 400px;
        height: 250px;
        top: 2390px;
        right: -290px;
        z-index: -1;
    }


    .brush-stroke-41 {
        width: 400px;
        height: 250px;
        top: 2890px;
        left: -330px;
        z-index: -1;

    }
}
