/*--------------------------------- G E N E R A L --------------------------------*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F9F9F9;
}

/*
google fonte:
font-family: 'Roboto',
sans-serif;
font-family: 'Finger Paint',
cursive;
font-family: 'Open Sans',
sans-serif;
*/

h1 {
    font-family: 'Roboto';
}

h2 {
    font-family: 'Roboto';
}

p {
    font-family: 'Open Sans';
}

/*Hoejre del er dobbelt so stor som venstre (1-2)*/
.container12 {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    display: grid;
}


/*Venstre del er dobbelt so stor som hoejre (2-1)*/
.container21 {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    display: grid;
}

/*------------------------------ B U R G E R M E N U -----------------------------*/

a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 2;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 3;
    /* and place it over the hamburger */

}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;


    background: #ffffff;
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: fixed;
    width: 200px;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 200px;
    right: -100px;

    background: #ffffff;
    list-style-type: none;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}


/*---------------------------------- S P L A S H --------------------------------*/

.splash_logo {
    background-image: url(foto/logo_hvid.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vw;

}

.splash_background {
    background-image: url(foto/splash-placeholder.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/*------------------------------ I N T R O D U K T I O N  -----------------------*/
#introduktion {
    position: relative;
}

.brush-stroke {
    background-image: url(foto/gul-placeholder.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: -1;
    top: 20px;
    left: -70px;
}

.text {
    padding-left: 7vw;
    padding-right: 4vw;
    align-self: center;
}

.klode_gif {
    background-image: url(foto/Klode.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
    justify-self: center;
}

/*----------------------------------- H J E R N E N -----------------------------*/

#hjernen {
    background-color: #00242A;
}

.container {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.lg-container {
    max-width: 850px;
    position: relative;
    margin: 1rem;
    padding: 0;
}

.lg-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}


.lg-hotspot {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.lg-hotspot:hover .lg-hotspot__button,
.lg-hotspot:active .lg-hotspot__button {
    border-color: #FF4677;
}

.lg-hotspot:hover .lg-hotspot__button:after,
.lg-hotspot:active .lg-hotspot__button:after {
    background-color: #FF4677;
}

.lg-hotspot--selected {
    z-index: 999;
}

.lg-hotspot--selected .lg-hotspot__label {
    opacity: 1;
}

.lg-hotspot__button {
    height: 28px;
    width: 28px;
    padding: 0px;
    border-radius: 100%;
    border: 1px solid #00242A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    animation: button-pulse 7s ease-in-out infinite;
}

.lg-hotspot__button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    content: "";
    display: block;
    height: 16.8px;
    width: 16.8px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: #00242A;
    transition: border-color 1s linear;
}

.lg-hotspot__label {
    position: absolute;
    padding: 0 0 1.1em 0;
    width: 16em;
    max-width: 50vw;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", sans-serif;
    font-size: 14.5px;
    line-height: 1.45em;
    z-index: -1;
    pointer-events: none;
    border-radius: 2px;
    user-select: none;
    opacity: 0;
    transition: all 0.1s linear;
}

.lg-hotspot__label h4 {
    margin: 0;
    padding: 0.65em 24px;
    background-color: #555;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: white;
    border-radius: 2px 2px 0 0;
}

.lg-hotspot__label p {
    margin: 0;
    padding: 1.1em 24px 0 24px;
    color: #333;
}

.lg-hotspot--top-left .lg-hotspot__label {
    top: 24px;
    left: 24px;
}

.lg-hotspot--top-right .lg-hotspot__label {
    top: 24px;
    right: 24px;
}

.lg-hotspot--bottom-right .lg-hotspot__label {
    right: 24px;
    bottom: 24px;
}

.lg-hotspot--bottom-left .lg-hotspot__label {
    bottom: 24px;
    left: 24px;
}

@keyframes button-pulse {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }

    40% {
        transform: scale(1.15, 1.15);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}



/*------------------------------ M E D I A Q U E R I E S ------------------------*/

@media screen and (max-width: 750px) {

    /*Hoejre del er dobbelt so stor som venstre (1-2)*/
    .container12 {
        grid-template-columns: 1fr;
    }

    .splash_logo {
        width: 200px;
        height: 150px;
        top: 200px;
    }

    /*Venstre del er dobbelt so stor som hoejre (2-1)*/
    .container21 {
        grid-template-columns: 1fr;
    }
}
