/*--------------------------------- G E N E R A L --------------------------------*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F9F9F9;
}

/*
google fonte:
font-family: 'Roboto',
sans-serif;
font-family: 'Finger Paint',
cursive;
font-family: 'Open Sans',
sans-serif;
*/

h1 {
    font-family: 'Roboto';
}

h2 {
    font-family: 'Roboto';
}

p {
    font-family: 'Open Sans';
}

/*Hoejre del er dobbelt so stor som venstre (1-2)*/
.container12 {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    display: grid;
}


/*Venstre del er dobbelt so stor som hoejre (2-1)*/
.container21 {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    display: grid;
}

/*------------------------------ B U R G E R M E N U -----------------------------*/

a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 2;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 3;
    /* and place it over the hamburger */

}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;


    background: #ffffff;
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: fixed;
    width: 200px;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 200px;
    right: -100px;

    background: #ffffff;
    list-style-type: none;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}


/*---------------------------------- S P L A S H --------------------------------*/

.splash_logo {
    background-image: url(foto/logo_hvid.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vw;

}

.splash_background {
    background-image: url(foto/splash-placeholder.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/*------------------------------ I N T R O D U K T I O N  -----------------------*/
#introduktion {
    position: relative;
}

.brush-stroke {
    background-image: url(foto/gul-placeholder.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: -1;
    top: 20px;
    left: -70px;
}

.text {
    padding-left: 7vw;
    padding-right: 4vw;
    align-self: center;
}

.klode_gif {
    background-image: url(foto/Klode.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
    justify-self: center;
}

/*----------------------------------- H J E R N E N -----------------------------*/
/*

html {
    box-sizing: border-box;
}
*/

*,
*::after,
*::before {
    box-sizing: inherit;
}


.hotspots-label:before,
.hotspot:before {
    content: "";
    display: block;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMS42IDExLjYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDExLjYgMTEuNiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMC41NjI1IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHgxPSI1LjgiIHkxPSIxMS42IiB4Mj0iNS44IiB5Mj0iMCIvPg0KPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjAuNTYyNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iMCIgeTE9IjUuOCIgeDI9IjExLjYiIHkyPSI1LjgiLz4NCjwvc3ZnPg0K");
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
}

.hotspots-label {
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 350ms cubic-bezier(0.2, 0.5, 0.34, 1);
    transition: opacity 350ms cubic-bezier(0.2, 0.5, 0.34, 1);
    width: 100%;
}

.hotspots-label:before {
    display: none;
}

@media screen and (max-width: 580px) {
    .hotspots-label {
        width: 100%;
        height: 100%;
        /*        padding: 50px 40px;*/
        background-color: rgba(0, 0, 0, 0.35);
    }

    .hotspots-label strong {
        display: block;
        margin-bottom: 10px;
    }

    .hotspots-label span {
        display: block;
    }

    .hotspots-label:before {
        display: block;
        top: 25px;
        left: auto;
        right: 4px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer;
    }
}

.hotspots-label.is-visible {
    opacity: 1;
    visibility: visible;
}

.hotspot {
    padding: 20px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    line-height: 40px;
    border-radius: 20px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 650ms ease-in, width 350ms linear;
    transition: opacity 650ms ease-in, width 350ms linear;
    text-indent: -9999em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hotspot.is-visible {
    opacity: 1;
}

.hotspot.is-active {
    padding: 0 20px 0 50px;
    text-indent: 0;
    width: auto;
}

.hotspot.is-active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hotspot:before {
    -webkit-transition: -webkit-transform 150ms cubic-bezier(0.2, 0.5, 0.34, 1);
    transition: -webkit-transform 150ms cubic-bezier(0.2, 0.5, 0.34, 1);
    transition: transform 150ms cubic-bezier(0.2, 0.5, 0.34, 1);
    transition: transform 150ms cubic-bezier(0.2, 0.5, 0.34, 1), -webkit-transform 150ms cubic-bezier(0.2, 0.5, 0.34, 1);
}

@media screen and (max-width: 960px) {
    .hotspot {
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        padding: 15px;
    }

    .hotspot.is-active {
        padding: 0 15px 0 35px;
        text-indent: 0;
        width: auto;
    }

    .hotspot:before {
        top: 2px;
        left: 2px;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 580px) {
    .hotspot {
        padding: 12px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    .hotspot.is-active {
        padding: 0 10px 0 30px;
        text-indent: 0;
        width: auto;
    }

    .hotspot:before {
        width: 20px;
        height: 20px;
    }
}

.image {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.image:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 70%;
}

.image .contain {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(foto/hjernen.png);
    background-size: 100%;
    background-color: #00242A;
    background-repeat: no-repeat;
}



/*------------------------------ M E D I A Q U E R I E S ------------------------*/

@media screen and (max-width: 750px) {

    /*Hoejre del er dobbelt so stor som venstre (1-2)*/
    .container12 {
        grid-template-columns: 1fr;
    }

    .splash_logo {
        width: 200px;
        height: 150px;
        top: 200px;
    }

    /*Venstre del er dobbelt so stor som hoejre (2-1)*/
    .container21 {
        grid-template-columns: 1fr;
    }
}
